
<li class="dropdown-submenu">
    <a href="#"><%=cartegory.name%></a>
    <%if cartegory.childrens.present?%>
        <ul class="dropdown-item">
        	<%cartegory.childrens.each do |cart|%>
          		<li><a href="#"><%=cart.name%></a></li>
          	<%end%>
        </ul>
     <%end%>
      <li class="divider" role="separator"></li>
</li>		
